* {
  margin: 0;
  padding: 0;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 73px;
  background-color: #66ab59;
}
#header #logo {
  width: 59px;
  height: 100%;
  margin-top: 7px;
  margin-left: 7.5%;
}
#header #cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  margin-right: 11%;
}
#header #cart-wrapper #account-button {
  color: white;
  padding-right: 15px;
  border-right: 2px solid white;
}
#header #cart-wrapper #account-button p {
  margin-top: 7px;
}
#header #cart-wrapper #account-button p a {
  color: white;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px dashed white;
}
#header #cart-wrapper #cart {
  width: 17px;
  height: 17px;
  margin-top: 5px;
  margin-left: 11px;
}
#header #cart-wrapper #cart #product-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  z-index: 2;
  margin-top: -199%;
  margin-left: 110%;
  border-radius: 50%;
  background-color: white;
}
#header #cart-wrapper #cart #product-count p {
  margin-top: auto;
  margin-bottom: auto;
  color: #66ab59;
  font-size: 12px;
}

#logout-p {
  margin-top: 7px;
  display: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-left: 37px;
  border-bottom: 1px dashed white;
  padding-bottom: 23px;
}

.product-wrapper {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.product-wrapper .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 450px;
}
.product-wrapper .category h1 {
  font-size: 31px;
  font-weight: 700;
  margin-left: 1%;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 11px 0 11px;
  width: 250px;
  height: 265px;
  margin-top: 57px;
  margin-left: 17px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 0 1.7px 1.7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.7px 1.7px rgba(0, 0, 0, 0.2);
}
.product .img {
  text-align: center;
  width: 220px;
  height: 137px;
  margin: 0 auto 0 auto;
}
.product .img img {
  margin-top: 17px;
}
.product h1 {
  font-size: 27px;
  font-weight: 700;
}
.product h2 {
  font-size: 23px;
  font-weight: 700;
}
.product .sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product .sale s {
  font-size: 19px;
  font-weight: 400;
  color: #a2a2a2;
}
.product .sale p {
  text-align: center;
  margin-top: 3px;
  margin-left: 17px;
  width: 45px;
  height: 25px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  background-color: #66ab59;
  color: white;
}
.product .price-and-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product .price-and-buy .buy {
  text-align: center;
  width: 57px;
  height: 33px;
  border-radius: 5px;
  background-color: #d73a3d;
  cursor: pointer;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
}
